:root
{
    --pagecolor: #cccccc;
    --titlesize: 48px;
    --wincol: green;
    --border: 5px;
    --butcol: orange;
}

body
{
    background-color: var(--pagecolor);
    font-family: Calibri;
}

.Title
{
    text-align: center;
}

.Title, .Winner
{
    font-size: var(--titlesize);
}

.Winner
{
    color: var(--wincol);
}

.Reset, .Tile
{
    border-radius: var(--border);
    background-color: var(--butcol);
}

.Reset
{
    padding: 0.5rem 0.5rem;
}

#root
{
    text-align: center;
}